@using Microsoft.AspNetCore.Identity
@inject SignInManager<HomeownersAssociation.Models.ApplicationUser> SignInManager
@inject UserManager<HomeownersAssociation.Models.ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Billing" asp-action="Index">Billing</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Billing" asp-action="MyBills">My Bills</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Profile" title="Manage">Hello
                @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout"
                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" onsubmit="return confirmLogout()">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        @* <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li> *@
        <li class="nav-item">
            <a class="nav-link text-dark oswald-subheading fw-bold border px-4 border-dark text-center text-sm-end "
                asp-area="" asp-controller="Account" asp-action="Login" style="transition: color 0.3s;">Resident Login</a>
        </li>
    }
</ul>

<script>
    function confirmLogout() {
        return confirm("Are you sure you want to logout?");
    }
</script>
