@model HomeownersAssociation.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<section class="d-flex align-items-center justify-content-center min-vh-100" style="background-color: #f8f9fa;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-5 col-xl-4">
                <div class="card shadow-2-strong rounded-6">
                    <div class="card-header bg-dark text-white">
                        <h2 class="text-center oswald-heading mb-0">@ViewData["Title"]</h2>
                        <p class="text-center mb-0 oswald-light">Access your Homeowners Association account</p>
                    </div>
                    <div class="card-body lora-body p-4">
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success mb-4">
                                @TempData["SuccessMessage"]
                            </div>
                        }
                        <form id="account" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input asp-for="Email" class="form-control border" autocomplete="username" aria-required="true" />
                                <label asp-for="Email" class="form-label"></label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input asp-for="Password" class="form-control border" autocomplete="current-password" aria-required="true" />
                                <label asp-for="Password" class="form-label"></label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <!-- Remember Me checkbox -->
                            <div class="form-check mb-4">
                                <input class="form-check-input" asp-for="RememberMe" />
                                <label asp-for="RememberMe" class="form-check-label">
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                            <div class="d-grid col-6 offset-3 gap-2 mt-4">
                                <button id="login-submit" type="submit" class="btn btn-dark btn-lg btn-block oswald-subheading">Log in</button>
                            </div>
                            <div class="mt-3 text-center">
                                <p>
                                    Don't have an account? <a asp-action="Register" class="text-primary lora-italic">Register</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}