@model HomeownersAssociation.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<section class="d-flex align-items-center justify-content-center" style="height: 70vh;">
    <div class="row justify-content-center w-100" style="max-width: 900px;">    
    <div class="col-8 col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-light">
                <h2 class="text-center oswald-heading">@ViewData["Title"]</h2>
                <p class="text-center mb-0 oswald-light">Access your Homeowners Association account</p>
            </div>
            <div class="card-body lora-body">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["SuccessMessage"]
                    </div>
                }
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control form-control-sm" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>

                    <div class="d-grid col-6 offset-3 gap-2 mt-4">
                        <button id="login-submit" type="submit" class="btn btn-md bg-dark text-white oswald-subheading">Log in</button>
                    </div>
                    <div class="mt-3 text-center">
                        <p>
                            Don't have an account? <a asp-action="Register" class="lora-italic text-gray">Register</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}